@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

 body{
    background-image: linear-gradient(to right, #EBDAAC, #A67D4B);
 }

 main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #85653ed8;
    width: 600px;
    padding: 10px;
    margin: auto;
 }

 h1{
    color: #532801;
    text-align: center;
    text-shadow: 1px 1px 2px #200f01;
 }

 h2{
    color: #592B02;
 }


p{
    text-align: justify;
}